@charset "UTF-8";
.object-fit-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

footer a {
  color: #888; /* 頁腳連結顏色 */
  text-decoration: none;
}

footer a:hover {
  color: #000; /* 滑過時變黑色 */
}

body {
  padding-top: 55px; /* 視你的 navbar 高度調整 */
}